sha256-accelerator.cache
sha256-accelerator.hw
sha256-accelerator.ip_user_files
sha256-accelerator.runs
sha256-accelerator.sim

*.Xil
*.jou
*.log
*.debug
*.str
*.zip
*.tmp
*.rst
*.os
*.js
*.pb
*.dcp
*.hwdef
*.vds
*.veo
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
.project